:root {
  --align-container1: "flex-end";
  --align-container2: "flex-start";
}

@font-face {
  font-family: Rubik;
  src: url("../../public/Rubik.ttf");
}

@font-face {
  font-family: CoralCandy;
  src: url("../../public/CoralCandy.ttf");
}

* {
  --white-color : #DCE0E5;
  --black-color : #2A333B;
  --blue-color : #8BBBB9;
  --yellow-color : #E6BB75;
  --red-color: #C43631;
  font-family: "Rubik";
}

body {
  padding: 0%;
  margin: 0%;
  font-family: "Rubik";
}

p, h2 {
  color: var(--white-color);
}

#loginbtn {
  width: 100%;
  border-radius: 2em 2em 0 0;
  margin-bottom: 0;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  color: var(--black-color);
}

#signinbtn {
  width: 100%;
  border-radius: 0 0 2em 2em;
  margin-top: 0;
  background-color: var(--yellow-color);
  border-color: var(--yellow-color);
  color: var(--black-color);
}

#loginbtn:hover, #signinbtn:hover {
  background-color: var(--white-color);
  border-color: var(--white-color);
  color: var(--black-color);
}

.ConnectionCard {
  padding: 0;
  margin: 0;
  width: 33vh;
  height: 40%;
  max-width: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 1em;
  background-position: center;
  background-size: 120%;
  flex-direction: column;
}

.connectionField {
  width: 90%;
  height: 15%;
  border-radius: 1.5em;
  padding: 0;
  padding-left: 10%;
}

.connectionButtons {
  width: 100%;
}

.App {
  text-align: center;
  background-size: cover;
}

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("../../public/card_black.svg"),url("../../public/card_y.svg"),url("../../public/card_b.svg");
  background-size: auto 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Home::-webkit-scrollbar {
  display: none;
}

.Home {
  background-image: url("../../public/Cards.png"), url("../../public/dark_background.jpg");
  background-position: top, center;
  background-repeat: no-repeat, no-repeat;
  background-size: 6% auto, cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.ConnectionPage {
  height: 100vh;
  width: 100vw;
  background-image: url("../../public/dark_background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.GamePage {
  display: flex;
  flex:2;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em;
}

.gameNumber {
  align-items: center;
  flex-wrap: wrap;
  align-self: flex-end;
  position: fixed;
  top: 0.2em;
}

.gameNumber h2, .gameNumber h3{
  color: rgb(224, 224, 224);
  margin-top: 5px;
  margin-bottom: 5px;
}

.PartiePage {
  background-image: url("../../public/background_game.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

.Chat {
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(2em);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Chat * {
  margin: 1em;
}

.messageSender {
  position: sticky;
  bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.messages {
  background-color: transparent;
  resize: none;
  color: gainsboro;
  border-radius: 0.5em;
  height: 1.5em;
  border-width: 0.2em;
  border-style: solid;
  padding: 1em;
}

.messageAffiche {
  position: sticky;
  top: 1em;
  overflow-y: scroll;
  height: 75%;
  max-height: 75vh;
}

.messageAffiche::-webkit-scrollbar {
  width: 8px;
}

.messageAffiche::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* Piste de la barre de défilement */
.messageAffiche::-webkit-scrollbar-track {
  background-color: transparent;
}

.messageAffiche p {
  color: gainsboro;
}

#codeGame {
  width: 100%;
}

h1 {
  color: gainsboro;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1em;
}

.ContainerParent {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 50%;
}

.Container1, .Container2{
  min-width: 60%;
  max-width: 500px;
  background-color: rgb(0 0 0 / 0.7);
  backdrop-filter: blur(2em);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 1em;
  margin: 1em;
}

.Container1 *, .Container2 * {
  min-width: 60%;
  margin: 1.5em;
}

.Container1 p, label, .Container2 p {
  color: gainsboro;
  font-size: 1.2em;
}

.Container1 {
  align-self: var(--align-container1);
}

.Container2 {
  align-self: var(--align-container2);
}

#gameCreatingForm label{
  margin-top: 1.5em;
  margin-bottom: 0;
}

select{
  border-radius: 0.5em;
  height: 3.5em;
  border-width: 0.2em;
  border-style: solid;
  padding: 1em;
}

input{
  border-radius: 0.5em;
  height: 1em;
  border-width: 0.2em;
  border-style: solid;
  padding: 1em;
}

.ConnectionForm>input{
  background-color: rgb(0 0 0 / 0);
  border-color: gainsboro;
  color: white;
}

.ConnectionForm>input::placeholder{
  color: gainsboro;
  text-transform: capitalize;
}

.carte{
  width: 100px;
  height: 143px;
  border: none;
  padding: 0;
  position: relative;
  background-color: rgb(0 0 0 / 0);
}

.carte img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.carte:hover img{
  top: -10%;
  left: -10%;
  z-index: 1;
  width: 120%;
  transition: all 0.2s ease-in-out;
}

.carte[data-etat="carteChoisie"] .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 92px;
  height: 137px;
  background-color: rgba(20, 107, 18, 0.2);
  border-color: rgba(20, 107, 18, 0.7);
  border-width: 4px;
  border-style: solid;
  border-radius: 4.5px;
  transition: border-color 0.2s ease-in-out;
}

.carte:hover[data-etat="carteChoisie"] .overlay{
  top: -10%;
  left: -10%;
  z-index: 1;
  width: 112px;
  height: 166px;
  transition: all 0.2s ease-in-out;
}

button {
  text-align: center;
  vertical-align: middle;
  line-height: 0;
  border-radius: 0.5em;
  height: 3em;
  background-color: gainsboro;
  border-color: gainsboro;
  border-style: solid;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1em;
  cursor: pointer;
}

.exit {
  background: url("../../public/icone-deco.svg") no-repeat;
  background-size: contain;
  float: left;
  width: 1.25em;
  height: 1.25em;
  padding-right: 0.5em;
}

.deco {
  color: white;
  position: absolute;
  top: 1em;
  right: 1em;
}

.giveUp {
  background: url("../../public/white-flag.png") no-repeat;
  background-size: contain;
  float: left;
  float: left;
  width: 2em;
  height: 2em;
  padding-right: 0.5em;
}

.back {
  background: url("../../public/back-arrow.png") no-repeat;
  background-size: contain;
  float: left;
  width: 1.75em;
  height: 1.5em;
  padding-right: 0.5em;
}

.leaderboard, .abandon, .retour {
  position: fixed;
  top: 1em;
  left: 1em;
}

.leaderboard a, .abandon a, .retour a {
  position: absolute;
  top: 0.3em;
}

.deco:hover, .leaderboard:hover, .retour:hover, .abandon:hover{
  color: #5b5c5e;
  cursor: pointer;
  filter: brightness(0.7);
}

a {
  text-decoration: none;
  color: white;
}

#pause {
  margin-right: 1em;
}


button:hover {
  background-color: #2e772e;
  color: gainsboro;
  transition: all 0.2s ease-in-out;
}

.ConnectionForm>button{
  width: 85%;
}

.ConnectionForm>button:hover{
  background-color: #2e772e;
  color: gainsboro;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.plateau {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.playerList {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.playerList > h2 {
  width: 100%;
}

.Player {
  width: 110px;
  height: 150px;
  background-image: url("../../public/Bataille/cardBack.png");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
}

.pseudo,.score {
  margin: 0.2em;
  padding: 0.3em;
  font-size: 20px;
  font-weight: bold;
  color: red;
  background-color: white;
  border-radius: 0.7em;
  text-transform: lowercase;
}

.Player .cartes {
  width: 100%;
  font-size: 75px;
  margin: 0;
  font-weight: bold;
  color: red;
  text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.PlayerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 20%;
}

.cardsPlayed {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.Partie {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 3% 0;
  transition: transform 330ms ease-in-out;
}

.Partie:hover {
  outline: 0.5em solid gray;
  border-radius: 2em;
  transform: scale(1.1);
  cursor: pointer;
}

.Partie img {
  width: 30%;
  margin-top: 1em;
  align-self: auto;
}

.Partie img[alt="Logo Set"] {
  filter: invert(11%) sepia(64%) saturate(7053%) hue-rotate(281deg) brightness(99%) contrast(124%);
}

.PartieText {
  margin: 0;
}

.Type {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0;
}

::backdrop {
  background-image: url("../../public/victory.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

dialog {
  color: white;
  background: none;
  font-size: 70px;
  border: none;
}

#secondline {
  font-size: 40px;
}

.gamesList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}