.homePage {
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../../public/dark_background.jpg);
  background-size: cover;
}

@mixin fan($count, $angle) {
  $offset: $angle / 2;

  @for $i from 1 through $count {
    $increment: $angle / ($count + 1);

    div:nth-child(#{$i}) {
      transform: translate(-50%, -50%) rotate(-$offset + $increment * $i);
    }
  }
}

.games {
  width: 100%;
  height: 100%;
  @include fan(3, 60deg);

  #Bataille {
    background-image: url(../../public/Bataille/spade.jpg);
  }

  #Boeuf {
    background-image: url(../../public/Boeuf/boeuf.svg);
  }

  #Set {
    width: 110px;
  height: 56px;
  box-sizing: content-box;
  padding-top: 15px;
  position: relative;
  background: #32557f;
  color: #7eb4e2;
  font-size: 11px;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 13px solid #7eb4e2;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
  }
  }
}

.gameDetail {
  background-color: white;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 40vh;
  width: 27vh;
  border-radius: 5vh;
  position: absolute;
  box-shadow: 0 0 30px transparentize(black, 0.8);
  left: 50%;
  top: 50%;
  transform-origin: center 200%;
  transition: transform 0.3s ease-out;

  &:hover {
    height: 45vh;
    width: 30vh;
    z-index: 1;
    top: 47%;
    transition: 0.2s ease-out;
  }
}