$colors: (
    "violet": invert(11%) sepia(64%) saturate(7053%) hue-rotate(281deg) brightness(99%) contrast(124%),
    "rouge": invert(13%) sepia(64%) saturate(7197%) hue-rotate(3deg) brightness(100%) contrast(122%),
    "vert": invert(41%) sepia(73%) saturate(1796%) hue-rotate(89deg) brightness(109%) contrast(111%)
);

$formes: (
    vague: url("../../public/Set/vague.svg"),
    ovale: url("../../public/Set/ovale.svg"),
    losange: url("../../public/Set/losange.svg")
);

@each $color, $filter in $colors {
    .forme[couleur="#{$color}"] {
        filter: $filter;
    }
}

@each $forme, $url in $formes {
    .forme[forme="#{$forme}"] {
        background-image: $url;
    }
}

.carteSet {
    width: 8vw;
    height: 25vh;
    padding: 0.75%;
    position: relative;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgb(53, 53, 53);
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
}

.formeContainer {
    width: 100%;
    height: 100%;
}

.forme {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

/*
.remplissage {
    width: 80%;
    height: 50%;
    position: absolute;
    background-image: url("../../public/Set/stripes.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}
*/