.carte_boeuf {
    width: 100px;
    height: 143px;
    border: none;
    padding: 0;
    position: relative;
    background-color: rgb(255, 255, 255);
    background-image: url("../public/boeuf.svg");
}

.tetes {
    display: flex;
}

.carte_boeuf .CardNumber {
    position: absolute;
    align-items: center;
}

.tete_boeuf {
    width: 30px;
    height: 30px;
    z-index: 1;
    filter: opacity(0.7);
    background-image: url("../public/boeuf.svg");
    background-repeat: no-repeat;
}

.carte_boeuf:hover {
    width: 120px;
    height: 172px;
    transition: all 0.2s ease-in-out;
}

.carte_boeuf[data-etat="carteChoisie"] .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 92px;
    height: 137px;
    background-color: rgba(20, 107, 18, 0.2);
    border-color: rgba(20, 107, 18, 0.7);
    border-width: 4px;
    border-style: solid;
    border-radius: 4.5px;
    transition: border-color 0.2s ease-in-out;
}

.carte_boeuf:hover[data-etat="carteChoisie"] .overlay {
    top: -10%;
    left: -10%;
    z-index: 1;
    width: 112px;
    height: 166px;
    transition: all 0.2s ease-in-out;
}